<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-dropdown-split></app-dropdown-split>
<app-add-skills></app-add-skills>
<app-cards-demo></app-cards-demo> 

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">

    <span class="navbar-brand mb-0 h1">
       <b> Skill Tracker</b>
    </span>
    <!-- Links 
         <ul class="navbar-nav ml-auto ">
                      <li class="nav-item active ">
                        <a class="nav-link text-dark font-weight-bold" href="#">Home</a>
                      </li>
        
                      <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" routerLink="/login" >
                                SignIn
                              </a>                     
                      </li>                        
                      
        </ul>
        
        
                    
</nav>-->




<router-outlet></router-outlet>