<html>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="node_modules/chart.js/src/chart.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
.w3-lobster {
  font-family: "Lobster", serif;
}


   .bg1{
            background-image: url('assets/NPS-header.gif');
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center ;
            height: 100%;width: 100%;
        }

.w3-lobster {
  font-family: "Lobster", serif;
}
</style>
 
  <div class="container-fluid">
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark " style="position: relative; width: 100%">

  <span class="navbar-brand" >
  <img src="assets/logo.png" style="width: 100px;position: relative;">
  </span>
  <!-- Links--> 
       <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active ">
                      <a class="nav-link text-danger font-weight-bold glyphicon glyphicon-log-in" routerLink="/loginPage" >SignIn</a>
                    </li>
      
                    <li class="nav-item">
                          <a class="nav-link text-danger font-weight-bold" routerLink="/loginPage" >
                              Register
                            </a>                     
                    </li>                        
                    
      </ul>
      </nav>


  <div class="container-fluid bg1 row" style="height: 100vh; margin-top: 2%">
      
          <div class="card w3-lobster " style="width: 25rem;">
              <img class="card-img-top" src="assets/searchNotFound.gif" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color: red"> <b>Skill-Tracker</b></h5>
                <p class="card-text w3-lobster " >Skill Tracker is a platform that enables employees to track their progress . 
                    It ultimately shifts the burden of managing skill progress away,
                    track and take ownership of their journey through Skill development. </p>
                <a routerLink="/loginPage" class="btn btn-primary">Search and Track</a>
              </div>
            </div>

  </div>
  
</div>

      </html>