
<div class="container-fluid supreme-container" id="main">
    <div class="row">
      <!--   <div class="col-md-2" id="leftDiv">
             <div class="container-fluid" id="rightBox">
                 <div id="dispImg" >
                            <img  src={{inputImage}} class="img-responsive img-thumbnail">
                    </div><br><br>
                    <div>
                        <label>
                            <input type="file" (change)="selectFile($event)">
                        </label>
                        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Update Profile Picture</button>
                    </div>
            </div>
            
        </div>--> 
    
    <div class="col-md-4" id="centerDiv">
                <div class="container-fluid" id="table1">          
                        <table class="table" >   
                        <tr><td>Id:</td><td>{{inputId}}</td></tr>                 
                        <tr><td>Name:</td><td>{{inputName}}<td></tr>
                        <tr><td>Email</td><td>{{inputEmail}}</td></tr>
                        <tr><td>Mobile:</td><td>{{inputMobile}}</td></tr>
                        <tr><td><button class="btn btn-primary" (click)="open(content)">Edit</button></td>
                            <td><button (click)="openDelete(Deletecontent)" class="btn btn-success">Delete</button> &nbsp;&nbsp;
                            <button (click)="addSkills()" class="btn btn-warning">Add More Skills</button></td>
                        
                        </tr>
                        </table>
                        <ng-template #content let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Edit Profile</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                            <label for="eId">ID</label>
                                            <div class="input-group">
                                              <input id="eId" class="form-control" [(ngModel)] = "inputId" name="eId">
                                            </div>
                                      <label for="ename">Name</label>
                                      <div class="input-group">
                                        <input id="ename" class="form-control" [(ngModel)] = "inputName" name="ename">
                                      </div>
                                      <label for="eEmail">Email</label>
                                      <div class="input-group">
                                        <input id="eEmail" class="form-control" [(ngModel)] = "inputEmail" name="eEmail">
                                      </div>
                                      <label for="eMob">Mobile</label>
                                      <div class="input-group">
                                        <input id="eMob" class="form-control" [(ngModel)] = "inputMobile" name="eMob">
                                      </div>
                                      
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                                </div>
                              </ng-template>


                              <ng-template #Deletecontent let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Delete Profile</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to delete this associate ?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Yes</button>
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('No click')">No</button>
                                  </div>
                                </ng-template>
                    </div>
            </div>
            
        <div class="col-md-6" id="rightDiv">
            <div class="responsive" id="pieCh">
                
                <h4>Skills Experience
                  </h4>
              <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [colors]="pieChartColors"
                      ></canvas>
            </div>
        </div>
        </div>
        </div>
        <div class="container-fluid supreme-container" id="bottomBox">
            <div class="row">
                <div *ngFor="let skill of temp;let i = index" class="column">
                <div class="card">
                        <div class="card-body" id="box">
                          <h6 class="card-title">{{skill.sid.skillName}}</h6>
                    <table class="table table-sm">
                        <tr><td>Level:</td><td><ngb-rating [rate]=skill.rating [max]="3" [readonly]="true"></ngb-rating></td></tr>
                        <tr><td>Certification:</td><td *ngIf="associateCertified[i]"><input type="checkbox" name="certify" value="skill" disabled checked>certified</td><td *ngIf="!associateCertified[i]"><input type="checkbox" name="certify" value="skill" disabled>certified</td></tr>
                        <tr><td>Start Date:</td><td>{{skill.startDate}}</td></tr>
                        <tr><td>End Date:</td><td>{{skill.endDate}}</td></tr>
                        <tr><td>Duration:</td><td>{{skill.experience}}</td></tr>
                        <tr><td><button (click)="openModal(skill.aid.associateId, skill.sid.skillId)" class="btn btn-primary">Edit</button></td>
                            <td><button (click)="deleteSkill(skill.srNo)" class="btn btn-success">Delete</button></td>
                            </tr>
        
                    </table>
                </div>
            </div>
            </div> 
        </div>

        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="skillmName" name="skillmName">{{skillmName}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
              </div>
              
              <div class="modal-body">
                <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div class="form-group">
                  <label for="level">Level</label>
                    <div class="input-group">
                      <ngb-rating id="level" name="level" class="form-control" [(rate)]="skillmRating" [max]="3"></ngb-rating>
                    </div>
                  <label for="certify">Certification</label>
                  <div class="input-group">
                        <input [(ngModel)]="skillmCertification" id="certify" type="checkbox" name="certify" value="skill">  
                        <!-- <input *ngIf="!skillmCertification" id="certify" type="checkbox" name="certify" value="skill"> -->
                      </div>

                  <label for="startDate">Start Date</label>
                  <div class="input-group">
                        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" id="dp"
                        name="dp" ngbDatepicker #e="ngbDatepicker" [(ngModel)]="skillmStartDate">
                 <div class="input-group-append">
                   <button class="btn btn-outline-secondary calendar glyphicon glyphicon-calendar" (click)="e.toggle()" type="button"></button>
                 </div>
                  </div>
                  <label for="endDate">End Date</label>
                          <div class="input-group">
                                <input id="endDate" class="form-control" placeholder="yyyy-mm-dd"
                                id="dp1" name="dp1" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="skillmEndDate">
                         <div class="input-group-append">
                           <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                         </div>
                          </div>
                          <input type="text" hidden name="assoId" [(ngModel)]="skillmAssoId">
                          <p *ngIf="dateVal" style="color: red">Start Date cannot be greater than End Date</p>
                          <div class="modal-footer">
                          <input type="submit" class="btn btn-success" value="save">
                          <button type="button" class="btn btn-primary" (click)="onCloseHandled()" >Close</button>
                        </div>
                        </div>
                      </form>
              </div>
        
        
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onCloseHandled()" >Close</button>
                
              </div> -->
            </div>
          </div>
        </div>


        <div id="addDestination">
          <router-outlet></router-outlet>
        </div>
        